.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 2px solid greenyellow;
   margin-left: 60px;
}
.inputStyle{
    background-color: black;
    width: 75%;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
    color: white;
}