.header{
    text-align: center;
    margin-top: 10px;
}
.header img{
    height: 80px;
   background-color: honeydew;
}

.navBar {
    background-color: honeydew;
    line-height: 40px;
    margin-bottom: 40px;
   
}
.navBar a{
    text-decoration: none;
    font-size: large;
    text-align: left;
    margin-left: 50px;
    padding: 8px;
    font-weight: 500;
}
.navBar a:hover{
    background-color: lightgrey;
    color: white;
}